In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('p4.xlsx')
df.head()
df = df.fillna('ffill')

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le_Sentiment = LabelEncoder()

In [5]:
df['Sentiment_n'] = le_Sentiment.fit_transform(df['Sentiment'])

In [6]:
df = df.drop(['Entity', 'Sentiment'], axis='columns')
df

    Tweet ID                                      Tweet Content  Sentiment_n
0       2401  im getting on borderlands and i will murder yo...            3
1       2401  I am coming to the borders and I will kill you...            3
2       2401  im getting on borderlands and i will kill you ...            3
3       2401  im coming on borderlands and i will murder you...            3
4       2401  im getting on borderlands 2 and i will murder ...            3
..       ...                                                ...          ...
94      2417  Deep Grounded almost looked pretty cool even d...            1
95      2417  Grounded almost was pretty cool even despite t...            1
96      2418  Appreciate the (sonic) concepts / praxis Valen...            0
97      2418  Appreciate the (sound) concepts / practices th...            0
98      2418  Evaluate the (sound) concepts / concepts of Va...            0

[99 rows x 3 columns]

In [7]:
inputs = df.drop(["Sentiment_n","Tweet ID"], axis="columns")
output = df[['Sentiment_n']]
output

    Sentiment_n
0             3
1             3
2             3
3             3
4             3
..          ...
94            1
95            1
96            0
97            0
98            0

[99 rows x 1 columns]

In [8]:
inputs.head()

                                       Tweet Content
0  im getting on borderlands and i will murder yo...
1  I am coming to the borders and I will kill you...
2  im getting on borderlands and i will kill you ...
3  im coming on borderlands and i will murder you...
4  im getting on borderlands 2 and i will murder ...

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
inputs = vectorizer.fit_transform(inputs['Tweet Content'])

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, output, test_size=0.2)

In [12]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

C:\Users\sshan\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
y_pred

array([2, 3, 3, 2, 3, 1, 3, 3, 1, 3, 1, 3, 3, 3, 3, 2, 3, 1, 1, 1])

In [15]:
classifier.score(X_test, y_test)

0.95